.button{
    -fx-background-color: #d6d6d6;
    -fx-font-weight: bold;
    -fx-border-color:gray;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.button:hover{
    -fx-background-color: #bfbfbf;
}
.input{
    -fx-background-color: #f0f0f0;
    -fx-font-weight: bold;
    -fx-border-color:gray;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
